@page{
  size: Auto;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to right top, #0001ff, #0027ff, #003aff, #0048ff, #0055ff, #006eff, #0083ff, #0096ff, #00b4ff, #00ceff, #00e6fc, #5ffbf1); */
  /* background-image: linear-gradient(to right top, #d651c5, #c75ed0, #b86ad9, #a873e0, #977ce4, #8688ed, #7594f3, #649ef6, #51affc, #47befe, #4dccfd, #5fd9fb); */
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  /* background-image: url('xxxx'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  font-family: 'Itim', cursive;
  padding: 25px;
  border-radius: 30px;
  width: 350px;
  border: 1px solid rgb(255, 255, 255);
  /* background: rgb(255, 255, 255); */
  /* background-color: rgb(186 85 211); */
    /* background-image: linear-gradient(to right top, #d651c5, #c75ed0, #b86ad9, #a873e0, #977ce4, #8688ed, #7594f3, #649ef6, #51affc, #47befe, #4dccfd, #5fd9fb); */
  /* background-image: url(''); */
  background-image: linear-gradient(to right top, #2e25ff, #1b4bff, #2465ff, #3f7bfd, #5d8ff5, #55a0f9, #59b0f9, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
.form-control {
  margin-bottom: 50px;
}

#print {
  margin-bottom: 20px;
}


.form-control input {
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  border: 1px solid rgb(255, 0, 149);
}

.form-control input:focus {
  outline: none !important;
  border: 1px solid rgb(51, 255, 0);
}

.form-control button {
  display: block;
  cursor: pointer;
  padding: 10px 5px;
  width: 100%;
  background-color: rgb(119, 0, 255);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 15px;
}

#print{
  display: none;
  visibility: none;
}


#print {
  display: block;
  cursor: pointer;
  padding: 5px 5px;
  width: 50%;
  background-color: rgb(98, 0, 255);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 15px;
}



#img {
  width: 98%;
  margin-top: 9px;
}
